In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/Salary_Data_multi.csv')

In [3]:
df.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [4]:
X = df[['YearsExperience', 'Age']]
y = df['Salary']

In [5]:
# SPlit into train data(Known) and test data(Unknown)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [6]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((21, 2), (9, 2), (21,), (9,))

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
model = LinearRegression()
model.fit(X_train, y_train) # Known data

LinearRegression()

In [9]:
model.score(X_test, y_test) # Accuracy on Unknown data

0.9349906638197523